<%- include("partials/header", { title: "About" }) %>

<section class="page-section">
    <h1>About Our Clinic Appointment System</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut varius orci. Sed feugiat felis non dolor lobortis dictum. Mauris bibendum blandit nulla. Maecenas facilisis malesuada leo, at rutrum velit congue sit amet. Quisque eu nibh eget felis faucibus viverra sit amet at velit. 
    </p>

    <p>
        Integer eros purus, cursus sit amet mollis id, egestas id tellus. Proin at dui non nisl mollis lacinia sed ac sem. Nam tellus metus, cursus at magna vel, semper molestie libero. Maecenas semper elementum euismod. Etiam finibus, ligula vitae commodo mattis, lacus eros maximus tortor, et ornare lacus felis in ligula. Ut pellentesque, leo nec tempor convallis, orci eros vestibulum ligula, ut rutrum metus metus id tortor. Duis vehicula massa vel velit ornare dictum.
    </p>

    <p>
        Etiam eget mollis lorem, at placerat orci. Quisque ac lorem bibendum, finibus diam sed, condimentum purus. In hac habitasse platea dictumst. Aliquam a imperdiet ante, sed ornare libero. Nunc condimentum rutrum faucibus.
    </p>

    <a class="btn" href="/">Back to Home</a>
</section>

<%- include("partials/footer") %>

