<!DOCTYPE html>
<html>
<head>
    <title>Staff Dashboard</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

<header>
    <h1>Welcome, <%= user.username%></h1>
    <nav>
        <a href="/">Home</a>
        <a href="/staff/appointments">View Appointments</a>
        <a href="/staff/patient-search">Patient Search</a>
        <a href="/auth/logout">Logout</a>
    </nav>
</header>

<main>

    <% if (error) { %>
        <div class="error-box"><%= error %></div>
    <% } %>

    <section class="dashboard-buttons">

        <h2>Staff Menu</h2>

        <div class="button-grid">

            <a class="dash-btn" href="/staff/appointments">
                View Appointments
            </a>

            <a class="dash-btn" href="/staff/patient-search">
                Patient Search
            </a>

        </div>

    </section>

</main>

</body>
</html>
